@CHARSET "UTF-8";

.align-right{
	float: right;
	margin-bottom: 10px;
}

.right{
	float: right;
}

.center-text{
	text-align: center;
}

tr:hover{ background-color: pink;}

body{
 	background-image: url("../img/spider.jpg");
 }
 
.panel-default {
 margin-top: 50px;
 }
 
.panel-title {
	text-align: center;
}
div.checkbox, .radio {
	margin-bottom: 30px;
}